<!doctype html>

<html>
  <head>
    <link href='style.css' rel='stylesheet'>
    <script src='main.mjs' type='module'></script>
  </head>
  <body>
    <div id='site'>
      <%= yield %>
    </div>
  </body>
</html>
